<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Rete.js Node Editor UE4 Style</title>
	<link rel="stylesheet" href="./style.css">
	<style>
.node-editor .node .socket.number {
	background: #2E88BC
}
.node-editor .node .socket.int {
	background: #202020
}
.node-editor .node .socket.float {
	background: #777777
}
.node-editor .node .socket.color {
	background: #57BC2E
}
.node-editor .node .socket.string {
	background: #FC9C2F
}
.node-editor .node .socket.struct {
	background: #BC00AB
}

	</style>
</head>
<body>

<template id="customNode">
	<div class="node" :class="[selected(), node.name] | kebab">
	<div class="title">{{node.name}}</div>
	<div class="content">
		<div class="col" v-if="node.controls.size&gt;0 || node.inputs.size&gt;0">
			<div class="input" v-for="input in inputs()" :key="input.key" style="text-align: left">
				<Socket v-socket:input="input" type="input" :socket="input.socket" :used="() => input.connections.length"></Socket>
				<div class="input-title" v-show="input.showControl()">{{input.name}}</div>
				<div class="input-title" v-show="!input.showControl()">{{input.name}}</div><br>
				<div class="input-control" v-show="input.showControl()" v-control="input.control"></div>
			</div>
		<div class="control" v-for="control in controls()" v-control="control"></div>
		</div>
		<div class="col">
			<div class="output" v-for="output in outputs()" :key="output.key">
				<div class="output-title">{{output.name}}</div>
				<Socket v-socket:output="output" type="output" :socket="output.socket" :used="() => output.connections.length"></Socket>
			</div>
		</div>
	</div> 
</div>
</template>

<div id="rete" class="node-editor"></div>

<script src='https://cdn.jsdelivr.net/npm/rete@1.4.1-rc.1/build/rete.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/alight@0.14.1/alight.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/rete-connection-plugin@0.8.2-rc.1/build/connection-plugin.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/rete-context-menu-plugin@0.1.4/build/context-menu-plugin.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/rete-vue-render-plugin@0.2.6/build/vue-render-plugin.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>